body
{
	font-family: Verdana;
	margin: 0px;
	padding: 0px; 
}

header
{
	background-color: #9692B1;
	color: white;
	text-align: center;
	height: 80px;
}

nav
{
	float: left;
	background-color: #9692B1;
	color: white;
	width: 20%;
	height: 750px;
}



#pg
{
	float: left;
	background-color: #FFF4CC;
	width: 80%;
	height: 300px;
	text-align: center; 
}

#pd
{
	float: right;
	background-color: #DBCC93;
	width: 80%;
	height: 450px;
	text-align: center;
}

footer
{
	clear: both;
	background-color: #9692B1;
	color: white;
	text-align: right;
}

a
{
	color: white;
}

#pg img
{
	width: 15%;
	margin: 20px;
}

#pd img
{
	border: 4px solid #9692B1;
	
}

#pd img:hover
{
	border: 4px solid grey;	
}